{% extends "index.html" %}

{% block content %}
<!--==== About Detailed Section ====-->
<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 align-self-center">
				<div class="content-block">
					<h2>ABOUT<span class="alternate">QISSKIT FALL FEST 2024</span></h2>
					<p style="text-align: justify; font-size: 18px; line-height: 1.8; margin: 20px 0; color: #ffffff;">
						The Qiskit Fall Fest at NIT Agartala is part of a global initiative that brings quantum computing events to college campuses worldwide. Each Fall Fest is organized by students, with support and guidance from IBM Quantum, ensuring a unique and impactful experience tailored to each location.
					</p>
					<p style="text-align: justify; font-size: 18px; line-height: 1.8; margin: 20px 0; color: #ffffff;">
						Running from October 20th to November 13th, the fest features an array of engaging activities designed to cater to all levels of interest and expertise. Inspiring speaker sessions with experts will delve into the latest advancements in quantum computing, offering valuable insights into this rapidly evolving field.
					</p>
					<p style="text-align: justify; font-size: 18px; line-height: 1.8; margin: 20px 0; color: #ffffff;">
						Our hands-on workshops are designed to immerse you in practical experience, providing essential skills and knowledge from fundamental coding to complex project development. Additionally, you will have access to dedicated doubt clarification sessions, where personalized support will help you navigate any challenges you encounter.
					</p>
					<p style="text-align: justify; font-size: 18px; line-height: 1.8; margin: 20px 0; color: #ffffff;">
						One-on-one interactions with mentors and industry professionals will further deepen your understanding and offer unparalleled networking opportunities, allowing you to connect with peers in this groundbreaking domain.
					</p>
					<p style="text-align: justify; font-size: 18px; line-height: 1.8; margin: 20px 0; color:#ffffff;">
						As quantum computing continues to emerge at a remarkable pace, its potential to revolutionize the tech industry is immense. Join us in exploring this transformative field and contribute to build a vibrant community of quantum enthusiasts and innovators.
					</p>
					<p style="text-align: justify; font-size: 18px; line-height: 1.8; margin: 20px 0; color: #ffffff;">
						The Qiskit Fall Fest at NIT Agartala is your gateway to mastering the future of computing.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}